<table>
    <thead>
        <tr>
            <th>Study Activity</th>
            <th>Total Earned</th>
        </tr>
    </thead>
    <tbody>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Visit #1 ($25)</td>
            <td class="pay-info-total-earned">{{#if visit1Earned}} ${{visit1Earned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Set 1 during visit #1: 20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if set1BreathingEarned}} ${{set1BreathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Set 2: 20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if set2BreathingEarned}} ${{set2BreathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Set 3: 20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if set3BreathingEarned}} ${{set3BreathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Set 4: 20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if set4BreathingEarned}} ${{set4BreathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Set 5: 20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if set5BreathingEarned}} ${{set5BreathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Set 6: 20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if set6BreathingEarned}} ${{set6BreathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Set 7: 20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if set7BreathingEarned}} ${{set7BreathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Visit #2 ($25)</td>
            <td class="pay-info-total-earned">{{#if visit2Earned}} ${{visit2Earned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Total Amount</td>
            <td class="pay-info-total-earned">{{#if totalEarned}} ${{totalEarned}} {{/if}}</td>
        </tr>
    </tbody>
</table>
<br/>
<div>
    Earnings may not include activity from the past two days.
</div>
